<div class="main-top">
  <div class="main-room-name">
    <p>hogefuga</p>
  </div>
  <div class="chat-drop">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main-main">
  <div class="messages">
    <div class="message">
      <div class="message-top">
        <h3>Tom</h3>
        <p>2020/3/31 (Wed) 12:43:30</p>
      </div>
      <div class="message-bottom">
        <p>おはよう</p>
      </div>
    </div>
  </div>
  <div class="message">
      <div class="message-top">
        <h3>Tom</h3>
        <p>2020/3/31 (Wed) 12:43:30</p>
      </div>
      <div class="message-bottom">
        <p>おはよう</p>
      </div>
    </div>
</div>
<%= form_with model: [@room, @message], class: 'main-bottom', local: true do |f| %>
  <div class="message-area">
    <%= f.text_field :content, class: 'message-textarea', placeholder: 'type a message' %>
    <label class="message-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <div class="send">
    <%= f.submit '送信', class: 'send-btn' %>
  </div>
<% end %>